.adminNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.square {
    width: 40%;
    height: 73%;
    margin: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.4s ease, background-color 0.3s ease;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.square:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);
}